<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.wuneng.admin.dao.AdminDao">
    <resultMap id="adminMapper" type="edu.nf.wuneng.admin.entity.Admin">
        <result property="id" column="a_id"></result>
        <result property="name" column="a_name"></result>
        <result property="password" column="a_password"></result>
    </resultMap>

    <resultMap id="courseMapper" type="edu.nf.wuneng.admin.entity.Course">
        <id property="cid" column="c_id"></id>
        <result property="cname" column="c_name"></result>
        <result property="cintroduct" column="c_introduct"></result>
        <result property="cimg1" column="c_img1"></result>
        <result property="cimg2" column="c_img2"></result>
        <result property="cimg3" column="c_img3"></result>
    </resultMap>

    <resultMap id="courseAddrMapper" type="edu.nf.wuneng.admin.entity.CourseAddr">
        <id property="caId" column="ca_id"></id>
        <result property="caAddr" column="ca_addr"></result>
    </resultMap>

    <resultMap id="courseCationMapper" type="edu.nf.wuneng.admin.entity.CourseCation">
        <id property="id" column="cc_id"></id>
        <result property="name" column="cc_name"></result>

        <collection property="courseInfo" ofType="edu.nf.wuneng.admin.entity.CourseInfo">
            <id property="id" column="ci_id"></id>
            <result property="name" column="ci_name"></result>
            <result property="context" column="ci_context"></result>
            <result property="img" column="ci_img"></result>
            <result property="addr" column="ci_addr"></result>
            <result property="num" column="ci_num"></result>
        </collection>
    </resultMap>

    <resultMap id="courseInfoMapper" type="edu.nf.wuneng.admin.entity.CourseInfo">
        <id property="id" column="ci_id"></id>
        <result property="name" column="ci_name"></result>
        <result property="context" column="ci_context"></result>
        <result property="img" column="ci_img"></result>
        <result property="addr" column="ci_addr"></result>
        <result property="num" column="ci_num"></result>
    </resultMap>

    <resultMap id="hotCourseMapper" type="edu.nf.wuneng.admin.entity.HotCourse">
        <id property="id" column="i_id"></id>
        <result property="name" column="i_name"></result>
        <result property="context" column="i_context"></result>
        <result property="text" column="i_text"></result>
        <result property="img" column="i_img"></result>
        <result property="addr" column="i_addr"></result>
    </resultMap>

    <resultMap id="payCourseMapper" type="edu.nf.wuneng.admin.entity.PayCourse">
        <id property="id" column="p_id"></id>
        <result property="name" column="p_name"></result>
        <result property="context" column="p_context"></result>
        <result property="price" column="p_price"></result>
        <result property="cover" column="p_cover"></result>
        <result property="img1" column="p_img1"></result>
        <result property="img2" column="p_img2"></result>
    </resultMap>

    <resultMap id="payCourseAddrMapper" type="edu.nf.wuneng.admin.entity.PayCourseAddr">
        <id property="id" column="pca_id"></id>
        <result property="text" column="pca_text"></result>
        <result property="addr" column="pca_addr"></result>
    </resultMap>

    <resultMap id="ordersMapper" type="edu.nf.wuneng.user.entity.Orders">
        <id property="id" column="o_id"></id>
        <result property="uid" column="o_u_id"></result>
        <result property="time" column="o_time"></result>
        <result property="status" column="o_status"></result>
        <result property="total" column="o_tocal"></result>
        <result property="couponId" column="o_coupon_id"></result>
    </resultMap>

    <resultMap id="discussMapper" type="edu.nf.wuneng.admin.entity.Discuss">
        <id property="did" column="d_id"></id>
        <result property="pid" column="p_id"></result>
        <result property="uid" column="u_id"></result>
        <result property="text" column="d_text"></result>
        <result property="time" column="d_time"></result>

        <collection property="listUsers" ofType="edu.nf.wuneng.user.entity.Users">
            <result property="userId" column="u_id"></result>
            <result property="userName" column="u_name"></result>
            <result property="userPassword" column="u_password"></result>
            <result property="userPhone" column="u_phone"></result>
            <result property="userHead" column="u_head"></result>
            <result property="sex" column="sex"></result>
            <result property="email" column="email"></result>

        </collection>
    </resultMap>

    <select id="loginAdmin" resultMap="adminMapper">
        select a_id,a_name,a_password from admin where a_id=#{id}
    </select>

    <insert id="addCourse" parameterType="edu.nf.wuneng.admin.entity.Course">
        insert into course(c_id,c_name,c_introduct,c_img1,c_img2,c_img3) values(#{cid},#{cname},#{cintroduct},#{cimg1},#{cimg2},#{cimg3})
    </insert>

    <insert id="addCourseAddr" parameterType="edu.nf.wuneng.admin.entity.CourseAddr">
        insert into course_addr(ca_id,ca_addr) values
        <foreach collection="list" item="courseAddr" separator=",">
            (#{courseAddr.caId},#{courseAddr.caAddr})
        </foreach>
    </insert>

    <select id="listCourseCation" resultMap="courseCationMapper">
        select ci.ci_id,ci.ci_name,ci.ci_context,ci.ci_addr,ci.ci_num,cc.cc_id,cc.cc_name from course_info ci,course_cation cc
    </select>

    <select id="listCourseInfo" resultMap="courseInfoMapper">
        select ci_id,ci_name,ci_context,ci_img,ci_addr,ci_num from course_info
    </select>

    <select id="showHotCourse" resultMap="hotCourseMapper" parameterType="integer">
        select i_id,i_context,i_name,i_text,i_img,i_addr from it_hot_course where i_id=#{id}
    </select>

    <select id="listPayCourse" resultMap="payCourseMapper">
        select p_id,p_name,p_context,p_price,p_cover,p_img1,p_img2 from pay_course
    </select>

    <select id="getPayCourseById" resultMap="payCourseMapper" parameterType="integer">
        select p_id,p_name,p_context,p_price,p_cover,p_img1,p_img2 from pay_course where p_id=#{id}
    </select>
    
    <select id="getCourseByNum" resultMap="courseInfoMapper" parameterType="integer">
        select ci_id,ci_name,ci_context,ci_img,ci_addr,ci_num from course_info where ci_num=#{num}
    </select>

    <update id="updateCourseInfo" parameterType="edu.nf.wuneng.admin.entity.CourseInfo">
        update course_info set ci_name=#{name},ci_context=#{context} where ci_num=#{num}
    </update>

    <insert id="addPayCourse" parameterType="edu.nf.wuneng.admin.entity.PayCourse">
        insert into pay_course(p_id,p_name,p_context,p_price,p_cover,p_img1,p_img2) values(#{id},#{name},#{context},#{price},#{cover},#{img1},#{img2})
    </insert>

    <insert id="addPayCourseAddr" parameterType="edu.nf.wuneng.admin.entity.PayCourseAddr">
        insert into pay_course_addr(pca_id,pca_text,pca_addr) values
        <foreach collection="list" item="payCourseAddr" separator=",">
            (#{payCourseAddr.id},#{payCourseAddr.text},#{payCourseAddr.addr})
        </foreach>
    </insert>

    <select id="sumToday" resultType="java.math.BigDecimal">
        select ifnull(sum(o_tocal),'0') from orders where to_days(o_time)=to_days(now()) and o_status='已付款'
    </select>
    <select id="sumYesterday" resultType="java.math.BigDecimal">
        select ifnull(sum(o_tocal),'0') from orders where to_days(now())-to_days(o_time) &lt;1 and o_status='已付款';
    </select>
    <select id="countOrdersToday" resultType="integer">
        select ifnull(count(o_tocal),'0') from orders where to_days(o_time)=to_days(now())
    </select>
    <select id="countPayedToday" resultType="integer">
        select ifnull(count(o_id),'0') from orders where to_days(o_time)=to_days(now()) and o_status='已付款'
    </select>
    <select id="countNotPayToday" resultType="integer">
        select ifnull(count(o_id),'0') from orders where to_days(o_time)=to_days(now()) and o_status='未付款'
    </select>
    <select id="countOrdersYesterday" resultType="integer">
        select ifnull(count(o_id),'0') from orders where to_days(now())-to_days(o_time) &lt;1
    </select>
    <select id="countPayedYesterday" resultType="integer">
        select ifnull(count(o_id),'0') from orders where to_days(o_time)=to_days(now()) and o_status='已付款'
    </select>
    <select id="countNotPayedYesterday" resultType="integer">
        select ifnull(count(o_id),'0') from orders where to_days(now())-to_days(o_time) &lt;1 and o_status='未付款'
    </select>

    <select id="listOrders" resultMap="ordersMapper">
        select o_id,o_u_id,o_time,o_status,o_tocal,o_coupon_id from orders
    </select>

    <select id="listDiscuss" resultMap="discussMapper">
        select d_id,p_id,u_id,d_text,d_time from discuss
    </select>

    <select id="listDiscussByNum" resultMap="discussMapper">
        select u.u_head,u.u_name,d.d_text,d.d_time from user u,discuss d,course_info ci where u.u_id=d.u_id and d.p_id=ci.ci_num and ci.ci_num=#{num} order by d_time desc
    </select>

    <insert id="addDiscuss">
        insert into discuss(p_id,u_id,d_text) values(#{pid},#{uid},#{text})
    </insert>


</mapper>